# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Local development data directory
data/
*.db

# Environments
.env
.venv/
env/
venv/

# VS Code / PyCharm
.vscode/
.idea/

# Byte-compiled
*.so

# Docker
*.pid

# Misc
.DS_Store
*.coverage
htmlcov/
dist/
build/

# Node modules
node_modules/

# References and Testing
Niimprinters References/
testing/