version: "3.9"

services:
  nesventory_db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME:-nesventory}
      POSTGRES_USER: ${DB_USER:-nesventory}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - nesventory_db_data:/var/lib/postgresql/data
    networks:
      - nesventory_net

  nesventory_backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_HOST: nesventory_db
    volumes:
      - ./backend:/app      
    depends_on:
      - nesventory_db
    ports:
      - "8001:8001"
    networks:
      - nesventory_net

volumes:
  nesventory_db_data:

networks:
  nesventory_net:
    driver: bridge
